/****** General mobile first***********/


/**@mixin title{
    font-family: "Shrikhand", serif;
    display: inline-block;
    margin:0;
    color: black;
  }*/
@import "partial/loader.css";
@import "partial/header.css";
@import "partial/cards.css";
 
* /*{
	font-family: 'Roboto', sans-serif;
}*/
::before,
::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
	--primary-color: #9356DC;
	--secondary-color: #FF79DA;
	--tertiary-color: #99E2D0;
    --grey-button:rgba(246, 246, 246, 1);
    --green-text:#008766;
    font-family: 'Roboto', sans-serif;
    --shrikhand-font: "Shrikhand", sans-serif;

}
@mixin pink-button{
    
    min-height: 60px;
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(180deg, #FF79DA , #9356DC);
    border:0;
    color: white;
    padding: 0 25px 0 25px;
    margin-bottom: 55px;
    font-size:large;
    font-weight:500;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.22);
    &:hover{
        opacity: 0.7;
        box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.42);
    }
}
@mixin h1-mob {
    text-align: center;
    font-size: 1.5rem;
}
/*@mixin h1-tab {
    font-family: "Shrikhand", serif;
    font-size: 2rem;
    display: inline-block;
    margin:0;
}*/
@mixin function-circle {
                width:15px;
                height: 15px;
                display: inline-block;
                background-color:#9356DC;
                border-radius: 20px;
                color: white;
                position:inherit;
                margin: 3px 5px 0 -10px;
                padding: 3px 7px 3px 7px;
                font-size:14px;

}
body {
	display: flex;
	flex-direction: column;
	max-width: 767.98px;
    margin:0;
    width:100%;
    align-content: center;
}
.explore {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-bottom: 35px;

    &__title {
        display: flex;
        flex-direction:column;
        align-items: center;
        background-color:var(--grey-button) ;
        box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.22) inset;
        h1{
            @include h1-mob;
            margin-right: 15%;
            margin-left:15%;
            margin-top: 39px;
        }
        h2{
            margin-right: 7%;
            margin-left:7%;
            margin-top: 0;
            font-weight: 300;
            font-size:18px;
            text-align: center;
            margin-bottom: 30px;
        }
        .button{
            @include pink-button;
        }   
    }
        &__function{
            background-color: white;
            
            & h2 {
                margin-left:20px;
                
            }
            &--ul{
            display:flex;
            flex-direction:column;
            justify-content:space-evenly;
            align-items: center;
            align-content: center;
            list-style-type: none;
            margin:0px 25px 0 35px;
            padding-left: 0;
            gap:25px;
            
            & li{
                height: 72px;
                min-width: 290px;
                max-width: 400px;
                background-color:var(--grey-button) ;
                text-align: left;
                border-radius: 20px 20px 20px 20px;
                align-content: center;
                box-shadow:   0px 5px 5px 2px rgba(0, 0, 0, 0.12);
                font-size:medium;
                font-weight:500;
            & i{
                padding-right:7%;
                color :grey;
                padding-left:20px;
            }
            & .circle{
            @include function-circle;

            }
            & .fa-store{
                color:#9356DC;
            }    

            }
        }
        }
    }
    .footer{
    background-color:#353535;
    color: white;
    font-family: var(--shrikhand-font);
    padding:22px 25px 22px 25px;
    :visited{ color:white;}
    :link{ color:white;
            text-decoration: none;}
    & ul{
        padding: 0;

    }
    &__logo{
        height:20px;
    }

    & ul li{
        list-style-type: none;
        color: white;
    }
    & ul li a{
        font-family: 'Roboto', sans-serif;

        color: white;
        & img{
            padding-right:10px;
        }
      
    }    

}
/*page de menu*/
@mixin menu-card{
    
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap: 5px;
    background-color:white;
    width:96%;
    border-radius: 20px 20px 20px 20px;
    height:72px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.09);

}
.hero{
    background-image: url("../Assets/images/restaurants/jay-wennington-palette.jpg");
    background-clip:padding-box;
    background-size :cover;
    background-color: white;
    height: 230px;
   
}


.menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px 40px 0 0;
    background-color:var(--grey-button);
    padding:13px;
    margin-bottom:0;
    margin-top: -50px;
    &__titre{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h2{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    hr {
        width: 40px;
        margin: 10px 0 15px 0;
        text-align: left;
        border: 2px solid var(--tertiary-color);              
    }  
    &__name {
        font-family:var(--shrikhand-font);
        font-size: 28px;
        font-weight: 400;
        
        @include like;
    }
    &__button{
            @include pink-button;

        }
    &__entrees, &__plats, &__desserts{
            /*display:flex;
            flex-direction: column;*/
          margin-bottom: 20px;
            &--ul {
                display:flex;
                flex-direction: column;
                list-style-type: none;
                padding:0;
                gap:15px;
                
                li{
                    @include menu-card;
                    
                    
                    .card-title{
                        font-size: large;
                        font-weight: 500;
                        margin-bottom: 0;
                        margin-left: 15px;
                     
                    }
                    .card-subtitle{
                        display:inline-block;
                        font-size: medium;
                        font-weight: 300;
                        margin: 5px 0 10px 15px ;
                        
                        width: 100%;
                        overflow: hidden;
                        white-space:nowrap;
                        text-overflow :ellipsis ;
                    }
                    .price{
                        margin: 42px 25px 10px 0;
                        
                        font-size:15px;
                        font-weight: 700;
                        text-wrap: nowrap;
                    }
            }

            }
        }
    }  

.commande{
    display: flex;
  justify-content: center;
  margin-top: 30px;
}


/****** General pad ***********/


/****** General Desktop***********/